html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.icon-white {
  color: white;
}

#topNav {
  display: none;
}

.mobile {
  position: fixed;
  top: 0;
  background: rgba(90,90,90,0.9);
  width: 80vw;
  height: 100vh;
  z-index: 200;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*display: none;*/
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.open {
  /*display: flex;*/
  transform: translateX(0);
}

.mobile__menu ul {
  width: 100%;
  font-size: 40px;
}
.mobile__menu ul li:hover {
  background-color: #ddd;
  color: black;
}

@media (min-width: 46rem) {
  .sidenav-trigger {
    display: none;
  }

  #topNav {
    display: block;
  }
}
